
@import "styles/base/index.css";
@import "styles/components/index.css";
@import "styles/screens/index.css";
@import "styles/utilities/index.css";

@font-face {
  font-family: "fira_code";
  src: url("./assets/font/FiraCode-Regular.woff2") format("woff2"),
  url("./assets/font/FiraCode-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.text-drkstr {
  font-family: fira_code, Serif;
}
